@import url(https://fonts.bunny.net/css?family=roboto:400,600);

:root {
    font-size: 12pt;

    --blue: #0984e3;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr auto;

    height: 100%
}

.sidebar {
    grid-row: 1 / 3;

    background-color: var(--blue);
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    
    display: grid;
    grid-template-rows: 1fr 2fr;

    padding: 2rem 2.5rem;

    position: relative;
    z-index: 1;

    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.12);
}

.headerTop {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search {
    display: flex;
    height: 2.5rem;
    gap: 0.5rem;

}

.search svg {
    height: 100%;
}

.search input {
    width: 70%;
    border: none;
    border-radius: 2rem;
    outline: none;
    background-color: #dfe6e9;;
    padding: 1rem;
    font-size: 1.25rem;
}

.search {
    grid-column: 1 / 2;
}

.UserControl {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.UserControl svg {
    width: 2.5rem;
}

.UserControl img {
    height: 4rem;
    clip-path: circle(50% at 50% 50%);
}

.UserControl span {
    font-size: 1.5rem;
    font-weight: 600;
}

.UserControl span:hover,
.UserControl svg:hover,
.UserControl img:hover {
    cursor: pointer;
}

.headerBottom {
    display: grid;

    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.UserGreeting {
    display: grid;
    grid-template-columns: 0.10fr 1fr;
    gap: 20px;

    align-items: center;
}

.ProfilePicture img {
    height: 6rem;
    clip-path: circle(50% at 50% 50%)
}

.GreetingText {
    margin: 0;
}

.greet {
    font-size: 1rem;
    margin: 0rem;
}

.username {
    font-size: 2rem;
    font-weight: 600;
}

.DashControls {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 0.3fr));
    gap: 2rem;

    height: 30%;
}

.DashControls button {
    background-color: var(--blue);
    border: none;
    border-radius: 5rem;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
}

.DashControls button:hover {
    cursor: pointer;
}

.body {
    height: 100%;

    grid-column: 2 / 3;
    grid-row: 2 / 3;

    padding: 1.5rem;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;

    background: #dfe6e9;
}

p {
    color: gray;
    margin: 0;
}

h1 {
    font-size: 2rem;
    margin: 0.50rem auto;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.projectCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1.5rem;
}

.card, .announcementBox, 
.trendingBox {
    background-color: white;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.12);
}

.card {
    border-left: solid 0.5rem orange;
    font-size: 1.25rem;
    padding: 2rem;
}

.card h2 {
    font-size: 1.75rem;
    margin-bottom: 0;
}

.card p {
    margin-top: 0;
}

.projectButtons {
    margin: 3rem 0 0 0;

    display: flex;
    gap: 1rem;
    justify-content: end;
}

.projectButtons svg {
    height: 2rem;
    fill: #202020;
    cursor: pointer;
}

.announcements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 90%;

    margin-left: auto;
    margin-right: auto;
}

.announcementBox {
    padding: 1.5rem;
}

.announceInstance {
    margin: 1rem 0;
}

.announceInstance h2 {
    margin: 0;
    font-size: 1.25rem;
}

.announceInstance p {
    display: -webkit-box;
    -webkit-box-orient: vertical;

    -webkit-line-clamp: 3;
    line-clamp: 3;

    overflow: hidden;

    text-overflow: ellipsis; 
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}