@import url(https://fonts.bunny.net/css?family=roboto:400);

:root {
    font-size: 12pt;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr auto;

    height: 100%
}

.sidebar {
    grid-row: 1 / 3;

    background: #0984e3;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    
    display: grid;
    grid-template-rows: 2fr 3fr;

    padding: 1rem 0.5rem;
    background: #dfe6e9;
}

.headerTop {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search input {
    width: 70%;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: white;
}

.search {
    grid-column: 1 / 2;
}

.headerBottom {
    display: grid;

    grid-template-columns: 2fr 1fr;
}

.UserGreeting {
    display: grid;
    grid-template-columns: 0.10fr 1fr;
    gap: 10px;
}

.ProfilePicture img {
    height: 10rem;
    clip-path: circle(50% at 50% 50%)
}

.GreetingText {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.greet {
    font-size: 0.75rem;
    margin: 0rem;
}

.DashControls {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 0.3fr));
}

.cards {
    height: 100%;

    grid-column: 2 / 3;
    grid-row: 2 / 3;

    padding: 1rem;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.projectCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.announcements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}